.rouge {
  color: rgb(155, 71, 71);
  background-color: rgb(155, 71, 71);
  border: solid 3px rgb(37, 37, 63);
  width: 200px;
  height: 200px;
}
.jaune {
  width: 200px;
  height: 200px;
  color: rgb(199, 182, 84);
  background-color: rgb(199, 182, 84);
  border: solid 3px rgb(37, 37, 63);
  position: relative;
  left: 205px;
  top: 0px;
}
.bleu {
  width: 200px;
  height: 200px;
  color: rgb(69, 69, 151);
  background-color: rgb(69, 69, 151);
  border: solid 3px rgb(37, 37, 63);
  position: relative;
  left: 410px;
  top: 0;
}
