.rouge {
  width: 100%;
  height: 300px;
  color: rgb(155, 71, 71);
  background-color: rgb(155, 71, 71);
  border: solid 3px rgb(37, 37, 63);
}
.deuxiemeligne {
  position: relative;
  top: 10px;
  right: 50%;
  left: 0%;
}
.jaune {
  height: 300px;
  color: rgb(199, 182, 84);
  background-color: rgb(199, 182, 84);
  border: solid 3px rgb(37, 37, 63);
  width: 49%;
}
.bleu {
  height: 300px;
  color: rgb(69, 69, 151);
  background-color: rgb(69, 69, 151);
  border: solid 3px rgb(37, 37, 63);
  position: absolute;
  left: 51%;
  top: 0%;
  right: 0%;
}
