body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #3b7ded;
}
.square {
  display: flex;
  margin-top: 70px;
}
img {
  margin-left: 200px;
  width: 30%;
  border-radius: 10px 0px 0px 10px;
}
.formulaire {
  width: 35%;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  padding-top: 30px;
  text-align: center;
}
input[type="text"] {
  border: solid 0.5px #3b7ded;
  padding: 10px;
  width: 80%;
  margin: 5px;
  border-radius: 20px;
  background-color: #d8e5fd;
}
input[type="submit"] {
  color: white;
  padding: 10px;
  width: 80%;
  margin: 5px;
  border-radius: 20px;
  border: none;
  background-color: #3b7ded;
}
a {
  font-size: 11px;
}
footer {
  color: rgb(143, 141, 141);
  font-size: 12px;
}
@media only screen and (max-width: 700px) {
  img {
    display: none;
  }
  .formulaire {
    width: 80%;
    border-radius: 10px 10px 10px 10px;
    margin-left: 50px;
    margin-top: 70px;
  }
  .square {
    display: initial;
  }
.titlecard{
  
}
