@font-face {
  font-family: "Gotham Light";
  src: url(fonts/Gotham_Light.otf);
}
body {
  background-color: rgb(238, 238, 225);
  display: flex;
  font-family: "Gotham Light";
}
.left {
  width: 100%;
}
.right {
  width: 40%;
}
.cards {
  display: flex;
}
.image {
  background-color: white;
  padding: 10px;

  margin: 10px;
}
.carddefine {
  background-color: white;
  padding: 10px;
  margin: 10px;
}
.firstcardblog {
  background-color: white;
  padding: 10px;
  margin: 10px;
}
.secondcardbolg {
  background-color: white;
  padding: 10px;
  margin: 10px;
}
.form {
  background-color: white;
  padding: 10px;
  margin: 10px;
  text-align: center;
}
.cardnews {
  background-color: white;
  padding: 10px;
  margin: 10px;
}
.icons {
  height: 70px;
  float: left;
  margin-right: 5px;
}
label {
  font-size: 13px;
}
input[type="text"] {
  background-color: rgb(229, 229, 240);
  width: 80%;
  margin: 10px;
  padding: 10px;
  border: none;
}
input[type="password"] {
  background-color: rgb(229, 229, 240);
  width: 80%;
  margin: 10px;
  padding: 10px;
  border: none;
}
input[type="submit"] {
  background-color: rgb(51, 51, 92);
  margin: 5px;
  padding: 10px;
  border: none;
  color: white;
}
a {
  font-size: 10px;
  margin: 15px 0px 5px 24px;
}
p {
  font-size: 15px;
}
.newsicons {
  float: left;
  margin: 5px;
}
.small {
  font-size: 12px;
}
.titlecard {
  width: 100%;
}
@media only screen and (max-width: 800px) {
  body {
    display: unset;
  }
  .right {
    width: 100%;
  }
}
