body {
  background-color: #3b7ded;
}
.container {
  margin-top: 15px;
}
.gauche {
  text-align: left;
  margin-left: 55px;
}
.formu {
  background-color: white;
  margin-right: 0px;
  text-align: center;
  border-radius: 0px 10px 10px 0px;
}
h2 {
  margin-top: 40px;
}
hr {
  margin-left: 55px;
}
img {
  height: 600px;
  width: 450px;
  margin-left: 120px;
  border-radius: 10px 0px 0px 10px;
}
input[type="text"] {
  border: solid 0.5px #3b7ded;
  padding: 10px;
  width: 80%;
  margin: 5px;
  border-radius: 20px;
  background-color: #d8e5fd;
}
input[type="submit"] {
  color: white;
  padding: 10px;
  width: 80%;
  margin: 5px;
  border-radius: 20px;
  border: none;
  background-color: #3b7ded;
}
